<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script type="application/javascript" src="{{ asset('build/main.css') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    <body lang="en">
        {% block nav %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Wizard</a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}

       <!--<script type="application/javascript" src="{{ asset('js/vendor.js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/script.js') }}"></script>-->

        <script type="application/javascript" src="{{ asset('build/main.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
