<div class="card">
    <div class="card-header text-bg-primary">
        <h3 class="card-title">Skills</h3>
    </div>

    <div class="card-body">
        {% for cat, skillCats in skills %}
            <div class="row">
                <div class="col-12">
                    <h5>{{ cat|capitalize }} skills</h5>
                </div>
            </div>

            {% for skill in skillCats %}
            {# @var skill \App\Model\Common\Skill\aSkill #}
            <div class="row">
                <div class="col-6 offset-xs-1">{{ skill.name }} ({{ skill.relatesTo }})</div>
                <div class="col-3 offset-xs-2">{{ skill.mastery.value }}</div>
            </div>
            {% endfor %}
            <hr>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <h5>Late skills</h5>
            </div>

            {% for level, skills in lateSkills %}
                <div class="col-12">Level <strong>{{ level }}</strong></div>

                {% for skillClass, mastery in skills %}
                <div class="row">
                    <div class="col-6 offset-xs-1">{{ call_static(skillClass, 'getName') }}</div>
                    <div class="col-3 pull-right">{{ mastery.value }}</div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        <blockquote class="blockquote mb-0">
            <p>Skill points:<span class="pull-right"><strong>{{ currentSp }}</strong> (+{{ modifier }})</span></p>
            <footer class="blockquote-footer">
                Per level<span class="pull-right">&nbsp;{{ spPerLvl }}</span>
            </footer>
        </blockquote>

    </div>
</div>
