<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
    </div>

    <div class="panel-body">
        {% for cat, skillCats in skills %}
            <div class="row">
                <div class="col-xs-12">
                    <h5>{{ cat|capitalize }} skills</h5>
                </div>
            </div>

            {% for skill in skillCats %}
                {# @var skill \App\Model\Common\Skill\aSkill #}
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-1">{{ skill.name }}</div>
                    <div class="col-xs-3 pull-right">{{ skill.mastery }}</div>
                </div>
            {% endfor %}

            <hr>
        {% endfor %}
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-4">
                <ul class="list-unstyled">
                    <li>Skill points:<span class="pull-right">{{ currentSp }}/<strong>{{ modifier }}</strong></span></li>
                </ul>
            </div>

            <div class="col-xs-4 col-xs-offset-4">
                <ul class="list-unstyled">
                    <li>Per level<span class="pull-right">{{ spPerLvl }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
