{% macro abbr(stat)%}
    {# @var \App\Model\Common\Stats\aStat stat #}
    {% if stat.modifiers|length > 0 %}
    <abbr title="{{ stat.modifierTexts|join('\n') }}">
        <strong>{{ stat.value }}</strong>
    </abbr>
    {% else %}
        <strong>{{ stat.value }}</strong>
    {% endif %}
{% endmacro %}

{% macro mod_list(modifier)%}
    {# @var \App\Model\Common\Stats\Modifier modifier #}
    <span class="{{ modifier.permanent ? 'text-primary' : '' }}">
        {{ modifier.value > 0 ? "+" : "" }}{{ modifier.value != 0 ? modifier.value : '' }} {{ modifier.description }}
    </span>
{% endmacro %}